body{
    background:#455680;
	font-family: sans-serif;
}

.form{
    width: 300px;
	background: #2e3a61;
	margin: 100px auto;
	padding: 10px 20px 50px 20px;
	border-radius: 5px;
	box-shadow: 0px 10px 20px 0px #000000;
    display: flex;
	align-items: center;
}

.opt{
    color: #fff;
    width: 290px;
	margin: 5px;
	border: none;
	font-size: 12pt;
	border-radius: 5px;
	padding: 10px;
    background-color: #455680;
}

.submit{
    background: #189ad3;
	border-top: none;
	border-right: none;
	border-left: none;
	border-radius: 5px;
	padding: 6px 20px;
	color: #fff;
	font-size: 12pt;
	border-bottom:4px solid #107dac;
    cursor:pointer;
	margin-top: 15px;
	
}

.submit:active{
    background: #005073;
}

h2{
	color: white;
	size: 1;
}

h3{
    color: white;
}

.red{
	color: red;
}

.yellow{
	color: yellow;
	margin-top: -15px;
}

.orange{
	color: orange;
	margin-top: -15px;
}

.green{
	color: green;
	margin-top: -15px;
}
